<%
# This file provides configuration options for the workload plugin.
%>
<table>
  <tbody>
    <tr>
      <th><%= l(:settings_tracker_caption)%></th>
      <td>
      	<%= select_tag 'settings[tracker_default]', options_for_select(Tracker.all.collect {|t| [ t.name, t.id ] }, settings['tracker_default'])%>
      </td>
      <td><%= l(:settings_tracker_help)%></td>
    </tr>
	<tr>
      <th><%= l(:settings_parent_tracker_caption)%></th>
      <td>
      	<%= select_tag 'settings[parent_tracker_default]', options_for_select(Tracker.all.collect {|t| [ t.name, t.id ] }, settings['parent_tracker_default'])%>
      </td>
      <td></td>
    </tr>
	<tr>
      <th><%= l(:settings_story_tracker_caption)%></th>
      <td>
      	<%= select_tag 'settings[story_tracker_default]', options_for_select(Tracker.all.collect {|t| [ t.name, t.id ] }, settings['story_tracker_default'])%>
      </td>
      <td></td>
    </tr>
	<tr>
      <th><%= l(:settings_task_tracker_caption)%></th>
      <td>
      	<%= select_tag 'settings[task_tracker_default]', options_for_select(Tracker.all.collect {|t| [ t.name, t.id ] }, settings['task_tracker_default'])%>
      </td>
      <td></td>
    </tr>
	<tr>
      <th><%= l(:label_use_work)%></th>
      <td>
      	<%= check_box_tag 'settings[use_work]', '1', MsprojectImport.use_work %>
      </td>
      <td></td>
    </tr>
	<tr>
      <th><%= l(:label_import_summary)%></th>
      <td>
      	<%= check_box_tag 'settings[import_summary]', '1', MsprojectImport.import_summary %>
      </td>
      <td><%= l(:label_import_summary_help)%></td>
    </tr>
	<tr>
      <th><%= l(:setting_out_line_level) %></th>
      <td>
	    <%= text_field_tag 'settings[out_line_level]', MsprojectImport.out_line_level, :size => 2 %>
      </td>
	  <td><%= l(:setting_out_line_level_help)%></td>
    </tr>
  </tbody>
</table>